.thanh-toan{
    background-color: white;
    padding: 15px;
}

.thanh-toan table td.tam-tinh{
    text-align: right;
    font-size: 16px;
    font-weight: 700;
}

.thanh-toan table td.thanh-tien{
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    color: red;
}

.thanh-toan .btn-thanh-toan{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

table.list-sp td.san-pham img{
    width: 150px;
}

table.list-sp td.san-pham{
    display: flex;
    width: 300px;
}

table.list-sp td.san-pham a{
    text-decoration: none;
    color: black;
}